$paragrafomargem: 7px;
$spaceparagrafo: 30px;
$spacetitulobtm: 5px;
$spacetitulotop: 20px;
$paddinghorizontal:15px;
$marginhorizontal:15px;

main{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
    height: 100vh;
}

.indicadores{
    display: flex;
    flex-direction: column;
    margin-top:1px;
    padding-top: 15px;
}
.indicadores1{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.indicadores1 h3{
    text-align: center;
    margin-bottom: $spacetitulobtm;
}
.indicador_sexo{
   width: 50%;
   padding-right:50px;
   
  
}
#sexo_graph{
    width: 100%;
    height: 500px;
    position: relative;
    left: 100px;
   
    
}
.indicador_idade{
    width: 50%;
    padding-left:50px;

}

