
body{
    background: rgb(252,175,23);
    background: linear-gradient(90deg, rgba(252,175,23,1) 0%, rgba(255,251,97,1) 100%);
}
main{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%; 
}

.login{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    align-items: center;
    
}
.login1{
    background-color: rgb(232, 249, 252);
    width: 20%;
    align-items: center;
    margin:5px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 52px;
    height: 300px;
    border: 1px solid #fcaf17;
}
.login1 h2{
    position: relative;
    bottom: 30px;
    color: #fcaf17;
    
}
.login2{
    border-top: 1px solid #fcaf17;
    position: relative;
    height: 100%;
}

button{
    border-radius: 52px;
    cursor: pointer;
    border: 1px solid #fcaf17;
    padding: 5px;
    background-color:#fcaf17 ;
    color: white;
    outline: none;
    width: 85px;
}

input{
    outline: none;
    height: 30px;
    border-radius: 52px;
    padding-left:5px;
    border: none;
    max-width: 170px;
    width: 170px;
}
.form{
    position: absolute;
}

#errado{
    color: rgb(255, 0, 0);
    visibility: hidden;
}
.simbolo{
    position: relative;
    right: 3%;
}
#errado2{
    color: rgb(255, 0, 0);
    visibility: hidden;
    
}



@media only screen and (max-width: 1200px){
    .login1{
        background-color: rgb(232, 249, 252);
        width: 30%;
        align-items: center;
        margin:5px;
        padding-top: 50px;
        padding-bottom: 100px;
        border-radius: 52px;
        height: 300px;
        border: 1px solid #fcaf17;
    }
    .simbolo{
        position: relative;
        right: 3%;
    }
}


@media only screen and (max-width: 800px){
    .login1{
        background-color: rgb(232, 249, 252);
        width: 70%;
        align-items: center;
        margin:5px;
        padding-top: 50px;
        padding-bottom: 100px;
        border-radius: 52px;
        height: 300px;
        border: 1px solid #fcaf17;
    }
    .simbolo{
        position: relative;
        right: 3%;
    }
}


@media only screen and (max-width: 600px){
    .login1{
        background-color: rgb(232, 249, 252);
        width: 90%;
        align-items: center;
        margin:5px;
        padding-top: 50px;
        padding-bottom: 100px;
        border-radius: 52px;
        height: 300px;
        border: 1px solid #fcaf17;
    }
    .simbolo{
        position: relative;
        right: 3%;
    }
}
@media only screen and (max-width: 500px){
    main{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-content: space-between;
        margin-left: 5%;
        margin-right: 5%;
        height: 100%;
    
        
    }
    .login1{
        background-color: rgb(232, 249, 252);
        width: 100%;
        align-items: center;
        margin:5px;
        padding-top: 50px;
        padding-bottom: 100px;
        border-radius: 52px;
        height: 300px;
        border: 1px solid #fcaf17;
        margin-bottom: 500px;
    }
    .simbolo{
        position: relative;
        right: 3%;
    }
}


