$paragrafomargem: 7px;
$spaceparagrafo: 30px;
$spacetitulobtm: 5px;
$spacetitulotop: 20px;
$paddinghorizontal:15px;
$marginhorizontal:15px;

main{
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 0px;
    height: 100vh;

}
.primeiraparte{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-top:1px;
}
.ligações h3{
    text-align: left;
    margin-bottom: $spacetitulobtm;
}
.ligações p{
    text-align: justify;
    margin-bottom: $spacetitulobtm;
    margin-left: $paragrafomargem;
}
.ligações{
    width: 50%;
    padding-right:50px;
    padding-top:10px;
}
.farmacias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    background-color: rgb(232, 249, 252);
    padding-right:8px;
    padding-top:10px;
}

.farmacias p{
    text-align: right;
    margin-right: $paragrafomargem;
}
.farmacias h3{
    text-align: right;
    margin-bottom: $spacetitulobtm;
}
.faq{
    background-color: rgb(232, 249, 252);
    margin-top: 15px;
    width: 47%;
    margin-bottom: 15px;
}
.faq h2{
    padding-left: 3px;
}
.faq1{
    padding-right:50px;
    padding-left:8px ;
}
.faq1 h4{
    text-align: left;
    margin-bottom: $spacetitulobtm;
}
.faq1 p{
    text-align: justify;
    margin-bottom: $spacetitulobtm;
    margin-left: $paragrafomargem;
}

@media only screen and (max-width: 1000px){
    main{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 0px;
        height: 100vh;
    
    }
    .primeiraparte{
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        margin-top:1px;
    }
    .ligações{
        width: 100%;
        padding-right:0px;
        padding-top:10px;
    }
    .ligações h3{
        text-align: center;
        margin-bottom: $spacetitulobtm;
    }
    .ligações p{
        text-align: center;
        margin-bottom: $spacetitulobtm;
        margin-left: $paragrafomargem;
    }
    .farmacias p{
        text-align: center;
        margin-right: $paragrafomargem;
    }
    .farmacias h3{
        text-align: center;
        margin-bottom: $spacetitulobtm;
    }
    .faq{
        background-color: rgb(232, 249, 252);
        margin-top: 15px;
        width: 100%;
        margin-bottom: 15px;
    }
    .faq1{
        padding-right:0px;
    }
    .faq1 h4{
        text-align: center;
        margin-bottom: $spacetitulobtm;
    }
    .faq1 p{
        text-align: center;
        margin-bottom: $spacetitulobtm;
        margin-left: $paragrafomargem;
    }
    .faq h2{
        text-align: center;
    }
}
