$paragrafomargem: 7px;
$spaceparagrafo: 30px;
$spacetitulobtm: 5px;
$spacetitulotop: 20px;
$paddinghorizontal:15px;
$marginhorizontal:15px;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
main{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;

}

.mvv{
    display: flex;
    margin-top:1px;
    margin-left: 20px;
    padding-left: $paddinghorizontal;
    padding-right: $paddinghorizontal;
    padding-top: 15px;
    flex-direction: column;
}


.mvv h3{
    margin-bottom: $spacetitulobtm;
}

.mvv p{
    margin-bottom: $spaceparagrafo;
}

.missao p{
    margin-left: $paragrafomargem;
    text-align: justify;
}

.visao p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.valores p{
    margin-left: $paragrafomargem;
    text-align: justify;
    display: flex;
    flex-direction: column ;
    margin-bottom: 2px;
}

.coordenador p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.coordenador h3{
    margin-top: $spacetitulotop;
}
.ConselhoTecnico p{
    margin-left: $paragrafomargem;
    text-align: justify;
    margin-bottom: 2px;
    
}
.ars h3{
   
    margin-top: $spacetitulotop;
}
.ars p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.modelo p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.inicioatividade p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.aces p{
    margin-left: $paragrafomargem;
}
.segundaparte{
    display: flex;
    margin-top:20px;
    margin-left:2%;
    height: 100%;
    padding-left: $paddinghorizontal;
    padding-top: 15px;
    flex-direction: column;
    text-align: center;
    border-radius: 45px;
    width: 150%;
    justify-content: space-between;
    
    
}
.formulario{
    margin-top:20px;
    margin-bottom:20px;
    padding: $paddinghorizontal ;
    background-color: rgb(232, 249, 252);
    margin-right: 13px;
    
}
#mensagem{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
}
input,textarea{
    border-radius: 52px;
    border: 1px solid #fcaf17;
    padding: 5px;
    color: black;
    outline: none;
    width: 30%;
    position: relative;
}
textarea{
    height: 60px;
    padding: 20px;
}

.informações{
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    background-color: rgb(232, 249, 252);
    margin-right: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;

}
.informações h3,.informações h4{
    margin-bottom: $spacetitulobtm;
    text-align: right;
}
.informações h4{
    color: #696969;
}
.informações p{
    margin-right: $paragrafomargem;
    text-align: right;
}
select{
    border-radius: 52px;
    cursor: pointer;
    border: 1px solid #fcaf17;
    padding: 5px;
    background-color:#fcaf17 ;
    color: white;
    outline: none;
    width: 20%;
    position: relative;
}
button{
    border-radius: 52px;
    cursor: pointer;
    border: 1px solid #fcaf17;
    padding: 5px;
    background-color:#fcaf17 ;
    color: white;
    outline: none;
    width: 15%;
    position: relative;
}



@media only screen and (max-width: 1300px){
    main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px; 
        }
    .mvv{
        display: flex;
        flex-direction: column;
        margin-top:1px;
        margin-left: 0px;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
    }
    div.mvv{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .segundaparte{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2px;
        
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin-top:2vh;
        padding-left: $paddinghorizontal;
        padding-right: $paddinghorizontal;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(232, 249, 252);
    }
    .mvv h3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mvv p{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .informações{
        display: flex;
        flex-direction: column;
        margin-right: 200px;
        background-color: rgb(232, 249, 252);
        margin-right: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
        align-items: center;
        text-align: center;
    }
    .informações h3,.informações h4{
        margin-bottom: $spacetitulobtm;
        text-align: center;
    }
    .informações h4{
        color: #696969;
    }
    .informações p{
        margin-right: $paragrafomargem;
        text-align: center;
        
    }
}
@media only screen and (max-width: 500px){
    main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px; 
        }
    .mvv{
        display: flex;
        flex-direction: column;
        margin-top:1px;
        margin-left: 0px;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
    }
    div.mvv{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .segundaparte{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2px;
        
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin-top:2vh;
        padding-left: $paddinghorizontal;
        padding-right: $paddinghorizontal;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(232, 249, 252);
    }
    .mvv h3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mvv p{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .informações{
        display: flex;
        flex-direction: column;
        margin-right: 200px;
        background-color: rgb(232, 249, 252);
        margin-right: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
        align-items: center;
        text-align: center;
    }
    .informações h3,.informações h4{
        margin-bottom: $spacetitulobtm;
        text-align: center;
    }
    .informações h4{
        color: #696969;
    }
    .informações p{
        margin-right: $paragrafomargem;
        text-align: center;
        
    }
    button{
        border-radius: 52px;
        cursor: pointer;
        border: 1px solid #fcaf17;
        padding: 5px;
        background-color:#fcaf17 ;
        color: white;
        outline: none;
        width: 25%;
        position: relative;
    }
    input,textarea{
        border-radius: 52px;
        border: 1px solid #fcaf17;
        padding: 9px;
        color: black;
        outline: none;
        width: 50%;
        position: relative;
    }
    select{
        border-radius: 52px;
        cursor: pointer;
        border: 1px solid #fcaf17;
        padding: 5px;
        background-color:#fcaf17 ;
        color: white;
        outline: none;
        width: 40%;
        position: relative;
    }
}
@media only screen and (max-width: 400px){
    main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px; 
        }
    .mvv{
        display: flex;
        flex-direction: column;
        margin-top:1px;
        margin-left: 0px;
        padding-top: 15px;
        justify-content: center;
        align-items: center;
    }
    div.mvv{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .segundaparte{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2px;
        
        
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin-top:2vh;
        padding-left: $paddinghorizontal;
        padding-right: $paddinghorizontal;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(232, 249, 252);
    }
    .mvv h3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mvv p{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .informações{
        display: flex;
        flex-direction: column;
        margin-right: 200px;
        background-color: rgb(232, 249, 252);
        margin-right: 15px;
        padding-right: 0px;
        padding-bottom: 15px;
        padding-top: 15px;
        align-items: center;
        text-align: center;
    }
    .informações h3,.informações h4{
        margin-bottom: $spacetitulobtm;
        text-align: center;
    }
    .informações h4{
        color: #696969;
    }
    .informações p{
        margin-right: 0px;
        text-align: center;
        
    }
    
    button{
        border-radius: 52px;
        cursor: pointer;
        border: 1px solid #fcaf17;
        padding: 5px;
        background-color:#fcaf17 ;
        color: white;
        outline: none;
        width: 30%;
        position: relative;
    }
    input,textarea{
        border-radius: 52px;
        border: 1px solid #fcaf17;
        padding: 9px;
        color: black;
        outline: none;
        width: 90%;
        position: relative;
    }
    select{
        border-radius: 52px;
        cursor: pointer;
        border: 1px solid #fcaf17;
        padding: 5px;
        background-color:#fcaf17 ;
        color: white;
        outline: none;
        width: 40%;
        position: relative;
    }
}