$paragrafomargem: 7px;
$spaceparagrafo: 30px;
$spacetitulobtm: 5px;
$spacetitulotop: 20px;
$paddinghorizontal:15px;
$marginhorizontal:15px;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
main{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 20px;
}

.mvv{
    width: 50%;
    padding-right:50px;
    padding-top:10px;
}

.missao h3,.visao h3,.valores h3,.coordenador h3,.ConselhoTecnico h3,.ars h3,.aces h3,.modelo h3,.inicioatividade h3{
    text-align: left;
    margin-bottom: $spacetitulobtm;
}
.missao p,.visao p,.valores p,.coordenador p,.ConselhoTecnico p,.ars p,.aces p,.modelo p,.inicioatividade p{
    text-align: justify;
    margin-bottom: $spacetitulobtm;
    margin-left: $paragrafomargem;
}

.segundaparte{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.informações{
    padding-right:8px;
    padding-top:10px;
    background-color: rgb(232, 249, 252);
    

}
.sede h3  ,.polo h3, .sede h4  ,.polo h4 {
    text-align: right;
    margin-bottom: $spacetitulobtm;
}
.sede h4  ,.polo h4 {
    text-align: right;
    margin-bottom: $spacetitulobtm;
    color: rgb(82, 82, 82);
}
.sede p ,.polo p {
    text-align: right;
    margin-bottom: $spacetitulobtm;
    margin-right: $paragrafomargem;
}


.formulario{
 
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    background-color: rgb(232, 249, 252);

}
#mensagem {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
  }
  input, textarea {
    border-radius: 52px;
    border: 1px solid #fcaf17;
    padding: 5px;
    color: black;
    outline: none;
    width: 30%;
    position: relative;
  }

  textarea {
    height: 60px;
    padding: 20px;
  }

  select {
    border-radius: 52px;
    cursor: pointer;
    border: 1px solid #fcaf17;
    padding: 5px;
    background-color: #fcaf17;
    color: white;
    outline: none;
    width: 20%;
    position: relative;
  }
  
  button {
    border-radius: 52px;
    cursor: pointer;
    border: 1px solid #fcaf17;
    padding: 5px;
    background-color: #fcaf17;
    color: white;
    outline: none;
    width: 15%;
    position: relative;
  }
   
  @media only screen and (max-width: 1000px){
    main{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
    }
    .mvv{
        width: 100%;
        
    }
    .segundaparte{
        width: 100%;
       
    }
    .missao h3,.visao h3,.valores h3,.coordenador h3,.ConselhoTecnico h3,.ars h3,.aces h3,.modelo h3,.inicioatividade h3{
        text-align: center;
        
    }
    .missao p,.visao p,.valores p,.coordenador p,.ConselhoTecnico p,.ars p,.aces p,.modelo p,.inicioatividade p{
        text-align: center;
      
    }
    .sede h3  ,.polo h3, .sede h4  ,.polo h4 {
        text-align: center;
    }
    .sede h4  ,.polo h4 {
        text-align: center;
    }
    .sede p ,.polo p {
        text-align: center;
    }
  
}
@media only screen and (max-width: 550px){
    input, textarea {
        width: 60%;
      }
}