$paragrafomargem: 7px;
$spaceparagrafo: 30px;
$spacetitulobtm: 5px;
$spacetitulotop: 20px;
$paddinghorizontal:15px;
$marginhorizontal:15px;


main{
    display: flex;
    flex-direction: row;

}
.mvv{
   
    display: flex;
    margin-top:10vh;
    width: 50%;
    height: 100%;
    padding-left: $paddinghorizontal;
    padding-right: $paddinghorizontal;
    margin-right:$marginhorizontal;
    padding-top: 15px;
    flex-direction: column;
    background-color: rgba(137, 43, 226, 0.096);

}
.mvv h3{
    margin-bottom: $spacetitulobtm;
}
.mvv p{
    margin-bottom: $spaceparagrafo;
}
.missao p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.visao p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.valores p{
    margin-left: $paragrafomargem;
    text-align: justify;
    display: flex;
    flex-direction: column ;
    margin-bottom: 2px;
}

.coordenador p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.coordenador h3{
    margin-top: $spacetitulotop;
}
.ConselhoTecnico p{
    margin-left: $paragrafomargem;
    text-align: justify;
    margin-bottom: 2px;
    
}
.ars h3{
   
    margin-top: $spacetitulotop;
}
.ars p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.modelo p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.inicioatividade p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.aces p{
    margin-left: $paragrafomargem;
}
.formulario{
    display: flex;
    margin-top:10vh;
    margin-right:0px;
    margin-left:20px;
    height: 100%;
    padding-left: $paddinghorizontal;
    padding-right: $paddinghorizontal;
    padding-top: 15px;
    flex-direction: column;
    float: right;
    background-color: rgba(0, 0, 255, 0.062);
    text-align: center;
    border-radius: 45px;
    width: 50;
}
.formulario label{
    display: flex;
    flex-direction: column;

    

}
@media only screen and (max-width: 600px){
    main{
        display:flex;
        flex-direction: column;
    }
    .mvv{
        width: 100%;
        margin-right: 0%;
        text-align: center;
    }
    .valores p{
        text-align: center;
    }
}