@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.mvv {
  width: 50%;
  padding-right: 50px;
  padding-top: 10px;
}

.missao h3, .visao h3, .valores h3, .coordenador h3, .ConselhoTecnico h3, .ars h3, .aces h3, .modelo h3, .inicioatividade h3 {
  text-align: left;
  margin-bottom: 5px;
}

.missao p, .visao p, .valores p, .coordenador p, .ConselhoTecnico p, .ars p, .aces p, .modelo p, .inicioatividade p {
  text-align: justify;
  margin-bottom: 5px;
  margin-left: 7px;
}

.segundaparte {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.informações {
  padding-right: 8px;
  padding-top: 10px;
  background-color: #e8f9fc;
}

.sede h3, .polo h3, .sede h4, .polo h4 {
  text-align: right;
  margin-bottom: 5px;
}

.sede h4, .polo h4 {
  text-align: right;
  margin-bottom: 5px;
  color: #525252;
}

.sede p, .polo p {
  text-align: right;
  margin-bottom: 5px;
  margin-right: 7px;
}

.formulario {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  background-color: #e8f9fc;
}

#mensagem {
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}

input, textarea {
  border-radius: 52px;
  border: 1px solid #fcaf17;
  padding: 5px;
  color: black;
  outline: none;
  width: 30%;
  position: relative;
}

textarea {
  height: 60px;
  padding: 20px;
}

select {
  border-radius: 52px;
  cursor: pointer;
  border: 1px solid #fcaf17;
  padding: 5px;
  background-color: #fcaf17;
  color: white;
  outline: none;
  width: 20%;
  position: relative;
}

button {
  border-radius: 52px;
  cursor: pointer;
  border: 1px solid #fcaf17;
  padding: 5px;
  background-color: #fcaf17;
  color: white;
  outline: none;
  width: 15%;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mvv {
    width: 100%;
    padding-right: 0px;
  }
  .segundaparte {
    width: 100%;
  }
  .missao h3, .visao h3, .valores h3, .coordenador h3, .ConselhoTecnico h3, .ars h3, .aces h3, .modelo h3, .inicioatividade h3 {
    text-align: center;
  }
  .missao p, .visao p, .valores p, .coordenador p, .ConselhoTecnico p, .ars p, .aces p, .modelo p, .inicioatividade p {
    text-align: center;
  }
  .sede h3, .polo h3, .sede h4, .polo h4 {
    text-align: center;
  }
  .sede h4, .polo h4 {
    text-align: center;
  }
  .sede p, .polo p {
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  input, textarea {
    width: 60%;
  }
  button {
    width: 30%;
  }
  select {
    width: 50%;
  }
}
/*# sourceMappingURL=Qsomoscss.css.map */