$paragrafomargem: 7px;
$spaceparagrafo: 30px;
$spacetitulobtm: 5px;
$spacetitulotop: 20px;
$paddinghorizontal:15px;
$marginhorizontal:15px;


main{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.mvv{
    display: flex;
    margin-top:1px;
    margin-left: 20px;
   
    padding-left: $paddinghorizontal;
    padding-right: $paddinghorizontal;
    padding-top: 15px;
    flex-direction: column;
    background-color: rgba(137, 43, 226, 0.096);
}


.mvv h3{
    margin-bottom: $spacetitulobtm;
}

.mvv p{
    margin-bottom: $spaceparagrafo;
}

.missao p{
    margin-left: $paragrafomargem;
    text-align: justify;
}

.visao p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.valores p{
    margin-left: $paragrafomargem;
    text-align: justify;
    display: flex;
    flex-direction: column ;
    margin-bottom: 2px;
}

.coordenador p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.coordenador h3{
    margin-top: $spacetitulotop;
}
.ConselhoTecnico p{
    margin-left: $paragrafomargem;
    text-align: justify;
    margin-bottom: 2px;
    
}
.ars h3{
   
    margin-top: $spacetitulotop;
}
.ars p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.modelo p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.inicioatividade p{
    margin-left: $paragrafomargem;
    text-align: justify;
}
.aces p{
    margin-left: $paragrafomargem;
}
.segundaparte{
    display: flex;
    margin-top:1px;
    margin-left:2%;
    margin-right:20px;
    height: 100%;
    padding-left: $paddinghorizontal;
    padding-right: $paddinghorizontal;
    padding-top: 15px;
    flex-direction: column;
    background-color: grey;
    text-align: center;
    border-radius: 45px;
    width: 150%;
    justify-content: space-between;
}
.formulario{
    background-color:rgba(137, 43, 226, 0.281);
    border-radius: 45px;
    padding: $paddinghorizontal ;
}
.mapa{
    display: flex;
    margin-top: 9vh;
    flex-direction: column;
    align-items: center;
    padding-bottom: $paddinghorizontal ;
 
    
}
input{
    border: none;
    background: none;
    border-bottom: 1px solid #e8f9fc;

}

@media only screen and (max-width: 1000px){
    main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .mvv{
        display: flex;
        flex-direction: column;
        margin-top:1px;
        margin-left: 0px;
        padding-top: 15px;
        background-color: rgba(137, 43, 226, 0.096);
        justify-content: center;
        align-items: center;
    }
    div.mvv{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .segundaparte{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 2px;
        
    }
    .formulario{
        display: flex;
        flex-direction: column;
        margin-top:2vh;
        padding-left: $paddinghorizontal;
        padding-right: $paddinghorizontal;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(137, 43, 226, 0.096);
    }
    .mvv h3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mvv p{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
}

