body{
    background: rgb(252,175,23);
    background: linear-gradient(90deg, rgba(252,175,23,1) 0%, rgba(255,251,97,1) 100%);
}

main{
    display: flex;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;
    height: 100%;
}
.login{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    align-items: center;
    
}
.login1{
    background-color: rgb(232, 249, 252);
    width: 20%;
    align-items: center;
    margin:5px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 52px;
    height: 300px;
    border: 1px solid #fcaf17;
}
.login1 h2{
    position: relative;
    bottom: 30px;
    color: #fcaf17;
    
}
.login2{
border-top: 1px solid #fcaf17;
position: relative;
 height: 100%;
}

button{
    border-radius: 52px;
    cursor: pointer;
    border: 1px solid #fcaf17;
    padding: 5px;
    background-color:#fcaf17 ;
    color: white;
    outline: none;
    width: 85px;
    position: relative;
}

input{
    outline: none;
    height: 30px;
    border-radius: 52px;
    padding-left:5px;
    border: none;
    max-width: 170px;
    width: 170px;
}
.form{
    position: absolute;
}

#errado{
    color: rgb(255, 0, 0);
    //visibility: hidden;
}
.simbolo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    
    
}