* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
  
}
header{

  display: flex;
  width: 90%;
  margin: auto;
  height: 20vh;
  align-items: center;
}
nav{
  flex: 2;
}
.logoUSF{
  
  flex: 1 
}
.logoUSF,.links_nav{
  display:flex;
}
.links_nav{
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  color:#59FFEE ;
  font-size: 18px;
}
/*
.load{
  animation: slide 5s;
}

.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height:100vh;
  animation: slide 40s infinite;
}

.conteudo{
  color:#fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.apresentação{
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  position: absolute;
  letter-spacing:5px;
  text-align: center;
}
.apresentação h1{
  font-size: 70px;
  margin-bottom:20px;
}*/

.apresentação{
  position: absolute;
  left:50%;
  top:50%;
  text-align: center;
  transform: translate(-50%,-50%);
  letter-spacing:3px;
  color
}
.apresentação h1{
    font-size: 20px;
}
.logo2{
  width: 550px;
  
  position: relative;
}
.logocentral{
  object-fit: cover;
  width: 50%;
}

/*
@keyframes slider{
   0%{
      background-image: url('recursos/doutor1.jpg');
   } 
   20%{
     background-image: url('recursos/doutor1.jpg');
   }
   20.01%{
    background-image: url('recursos/doutor2.jpg');
  }
  40%{
    background-image: url('recursos/doutor2.jpg');
  }
  40.01%{
    background-image: url('recursos/doutor3.jpg');
  }
  60%{
    background-image: url('recursos/doutor3.jpg');
  }
  60.01%{
    background-image: url('recursos/doutor4.jpg');
  }
  80.%{
    background-image: url('recursos/doutor4.jpg');
  }
  80.01%{
    background-image: url('recursos/doutor5.jpg');
  }
  100%{
    background-image: url('recursos/doutor5.jpg');
  }
}
*/