* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
  display: flex;
  
}
header{

  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  align-items: center;
}
nav{
  flex: 2;
}
.logoUSF{
  
  flex: 1 
}
.logoUSF,.links_nav{
  display:flex;
}
.links_nav{
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  color:aqua ;
  font-size: 18px;
}
.apresentação{
  position: absolute;
  left:50%;
  top:50%;
  text-align: center;
  transform: translate(-50%,-50%);
  letter-spacing:3px;
  color
}
.apresentação h1{
    font-size: 20px;
}
.logo2{
  width: 550px;
  
  position: relative;
}
.logocentral{
  object-fit: cover;
  width: 50%;
}