
.container{
  width: 100%;
  height: 100%;
  animation: slide 16s ease-in-out infinite;
  background-size: cover;
  position: fixed;
  object-fit: cover;
 
  }
.outer{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
.details{
  position: absolute;
  left:50%;
  top:50%;
  text-align: center;
  transform: translate(-50%,-50%);
  letter-spacing:3px;
  
}
.logocentral{
  max-width: 100%;
}
.details h1{
  color:#fcaf17;
  max-width: 100%;
}
@keyframes slide{
  0%, 100%{
      background-image: url(/HomePage/recursos/doutor1.jpg);
  }
  25%{
      background-image: url(/HomePage/recursos/doutor2.jpg);
  }
  50%{
      background-image: url(/HomePage/recursos/doutor3.jpg);
  }
  75%{
      background-image: url(/HomePage/recursos/doutor4.jpg);
  }
}