  /*Primeira imagem e texto*/
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .secondmain {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #e8f9fc;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  
  .img {
    display: flex;
    align-items: center;
  }
  
  .texto{
      padding-top: 30px;
      padding-left: 450px;
      padding-right: 30px;
  }

  p{
      float: right;
      text-align: justify;
      text-indent: 40px;
  }

  /*Segunda imagem e texto*/
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  div.fourthmain {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #e8f9fc;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  
  .img2 {
    display: flex;
    align-items: center;
  }
  
  .texto2{
      padding-top: 30px;
      padding-left: 450px;
      padding-right: 30px;
  }

  p.p2{
      float: right;
      text-align: justify;
      text-indent: 40px;
  }

/*Terceira imagem e texto*/

.sixthmain {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  background-color: #e8f9fc;
  padding-left: 30px;
  padding-bottom: 30px;
}

.img3 {
  display: flex;
  align-items: left;
}

.texto3{
  padding-top: 30px;
  padding-left: 450px;
  padding-right: 30px;
}

.p3{
  float: right;
  text-align: justify;
  text-indent: 40px;
  line-height: 20px;
}

.links_nav{
  cursor: pointer;
}

/*Responsive*/

@media only screen and (max-width: 1100px){
  /*Primeira imagem e texto*/
  .main{
    margin: 10px;
  }
  div.secondmain{
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  img{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-top: 10px;
  }
  h1{
    font-size: 20px;
  }
  .texto{
    margin-left: -450px;
    margin-right: 10px;
  }
  
  /*Segunda imagem e texto*/
  .thirdmain{
    margin: 10px;
  }
  div.fourthmain{
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .texto2{
    margin-left: -450px;
    margin-right: 10px;
  }

  /*Terceira imagem e texto*/
  .fifthmain{
    margin: 10px;
  }
  div.sixthmain{
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  .texto3{
    margin-left: -450px;
    margin-right: 10px;
  }
}