  /*Primeira imagem e texto*/
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .secondmain {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #e8f9fc;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  
  .img {
    display: flex;
    align-items: center;
  }
  
  .texto{
      padding-top: 30px;
      padding-left: 450px;
      padding-right: 30px;
  }

  p{
      float: right;
      text-align: justify;
      text-indent: 40px;
  }

/*Segunda imagem e texto*/
  .fourthmain {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #e8f9fc;
    text-align: center;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  
  .img2 {
    display: flex;
    align-items: center;
    margin-left: 1280px;
  }
  
  .texto2{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

  .p2{
      float: right;
      margin-top: -265px;
      line-height: 20px;
      margin-right: 470px;
      text-align: justify;
  }

/*Terceira imagem e texto*/

.sixthmain {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  background-color: #e8f9fc;
  text-align: center;
  padding-left: 30px;
  padding-bottom: 30px;
}

.img3 {
  display: flex;
  align-items: left;
}

.texto3{
  padding-top: 30px;
  padding-left: 450px;
  padding-right: 30px;
}

.p3{
  float: right;
  text-align: justify;
  text-indent: 40px;
  line-height: 20px;
}

.links_nav{
  cursor: pointer;
}