$paddingprincipal:20px;

main{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}
.secondmain, .fourthmain, .sixthmain{
  background-color: rgb(232, 249, 252);
  display: flex;
  flex-direction: row-reverse;
  padding: 20px;
}
.texto{
  padding-left: 20px;
  text-align: justify;
  text-indent: 30px;
}
main h1{
  margin: 20px;
  text-align: center;
}

.fourthmain{
  display: flex;
  flex-direction: row;
}

.fourthmain .p2{
  padding-right: $paddingprincipal;

}
@media only screen and (max-width: 1100px){
  .secondmain, .fourthmain, .sixthmain{
    flex-direction: column;
    align-items: center;
  }
  .texto{
    padding-left: 20px;
    text-align: center;
    text-indent: 30px;
    padding-bottom: 20px;
  }
  img{
    width: 100%;
  }
}